.about-us {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  text-align: left;
  background-color: deeppink;
  height: 300px;
}

.us {
  font-size: 50px;
  flex: 1;
  margin-top: 15vh;
  margin-left: 35vh;
  font-weight: 600;
  color: black;
}

.desc {
  font-size: 22px;
  font-weight: 100;
  flex: 1;
  margin-top: 5vh;
  margin-bottom: 7vh;
  margin-right: 30vh;
  max-width: 800px;
  color: black;
}

.features {
  height: 500px;
  background-color: purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.features .h1 {
  color: black;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 120px; /* Увеличивает отступ между заголовком и остальными элементами */
}

.rewards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 150px; /* Увеличивает отступы между элементами */
  width: 100%; /* Растягивает контейнер для равномерного распределения колонок */
  justify-items: center; /* Центрирует элементы внутри колонок */
}

.rewards span {
  color: black;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: purple;
  padding: 20px;
}

.work span {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
}

.work li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.work ul {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Выравнивание текста по левому краю */
  gap: 10px;
  color: black;
  font-weight: bold;
  width: 100%; /* Устанавливает одинаковую ширину для всех элементов */
}

.work ul::before {
  content: counter(step-counter);
  counter-increment: step-counter;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: gray;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  font-weight: bold;
}

.rewards span {
  flex: 1; /* Обеспечивает равную ширину для каждого пункта */
}

.plans {
  height: 100px;
  padding-top: 30px;
  background-color: blueviolet;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.plans span {
  color: black;
  font-size: 40px;
  font-weight: 600;
}
