
.title {
    margin: 25vh;
  }
  
  .title1,
  .subtitle {
    color: #000;
    font-weight: 600;
    font-size: 52px;
    
  }
  
  .subtitle1 {
    color: #000;
    font-weight: 400;
    font-size: 32px;
  }
  