.App {
  text-align: center;
}

.header {
  width: 100%;
  height: 100px;
  background-color: pink;
  position: static;
}

.ul-section {
  width: 30%;
}

.header ul{
  display: flex;
  justify-content: space-between;
}

.header li{
  list-style: none;
  font-size: 18px;
  font-weight: 100;
}